DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"

JWT_SECRET="replace-with-a-random-string-at-least-32-chars"
NEXTAUTH_SECRET="replace-with-a-second-random-string-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
